# QTM 385: Group Project

## Group Formation

Below is the list of students for our course project. The finalised group list will be published in a separate announcement once the random assignment is complete.

### Student Roster:

In [1]:
import pandas as pd

# Student roster data
df = pd.DataFrame([
    ['Toni Akinyelu', 2550453, ''],
    ['Nicole Chen', 2608628, '2'],
    ['Peter Chen', 2608344, '4'],
    ['Tiffany Chen', 2593764, '5'],
    ['Tammy Dang', 2546969, '5'],
    ['Gina Ge', 2582381, '3'],
    ['Lucy Guo', 2550000, '3'],
    ['Ari Gurovich', 2586399, '6'],
    ['Justin He', 2549590, '7'],
    ['Anny Huang', 2550032, '2'],
    ['Max Jiang', 2547409, '6'],
    ['Rola Ke', 2609319, '1'],
    ['Bert Li', 2549011, '3'],
    ['Sherelle Li', 2583169, '6'],
    ['Sissi Li', 2608780, '1'],
    ['Zixuan Li', 2608786, '2'],
    ['Tiger Liao', 2513892, ''],
    ['Francisco Lyu', 2549030, '3'],
    ['Vidhant Mehta', 2547779, '7'],
    ['Aadit Narayanan', 2611510, '5'],
    ['Oscar Ni', 2608004, '4'],
    ['Tashfia Noor', 2588861, '5'],
    ['Rami Orgle', 2588978, '5'],
    ['Katie Park', 2563640, '7'],
    ['Yoonsuh Park', 2499926, '7'],
    ['Krishang Shah', 2579276, '7'],
    ['Sarah Shao', 2608499, '4'],
    ['Mingke Tian', 2636361, '2'],
    ['Chrissy Wang', 2601180, '1'],
    ['Selena Xie', 2608548, '1'],
    ['William Xu', 2538911, '6'],
    ['Vera Zheng', 2610465, '4']
], columns=['Student Name', 'Student ID', 'Group Number'])

# Display the table
df

       Student Name  Student ID Group Number
0     Toni Akinyelu     2550453
1       Nicole Chen     2608628            2
2        Peter Chen     2608344            4
3      Tiffany Chen     2593764            5
4        Tammy Dang     2546969            5
5           Gina Ge     2582381            3
6          Lucy Guo     2550000            3
7      Ari Gurovich     2586399            6
8         Justin He     2549590            7
9        Anny Huang     2550032            2
10        Max Jiang     2547409            6
11          Rola Ke     2609319            1
12          Bert Li     2549011            3
13      Sherelle Li     2583169            6
14         Sissi Li     2608780            1
15        Zixuan Li     2608786            2
16       Tiger Liao     2513892
17    Francisco Lyu     2549030            3
18    Vidhant Mehta     2547779            7
19  Aadit Narayanan     2611510            5
20         Oscar Ni     2608004            4
21     Tashfia Noor     2588861            5
22       Rami Orgle     2588978            5
23       Katie Park     2563640            7
24     Yoonsuh Park     2499926            7
25    Krishang Shah     2579276            7
26       Sarah Shao     2608499            4
27      Mingke Tian     2636361            2
28     Chrissy Wang     2601180            1
29       Selena Xie     2608548            1
30       William Xu     2538911            6
31       Vera Zheng     2610465            4