# QTM 385: Group Project

## Group Formation

Below is the list of students for our course project. The finalised group list will be published in a separate announcement once the random assignment is complete.

### Student Roster:

In [1]:
import pandas as pd

# Student roster data
df = pd.DataFrame([
    ['Toni Akinyelu', 2550453, ''],
    ['Nicole Chen', 2608628, ''],
    ['Peter Chen', 2608344, ''],
    ['Tiffany Chen', 2593764, ''],
    ['Tammy Dang', 2546969, ''],
    ['Gina Ge', 2582381, ''],
    ['Lucy Guo', 2550000, ''],
    ['Ari Gurovich', 2586399, ''],
    ['Justin He', 2549590, ''],
    ['Anny Huang', 2550032, ''],
    ['Max Jiang', 2547409, ''],
    ['Rola Ke', 2609319, '1'],
    ['Bert Li', 2549011, ''],
    ['Sherelle Li', 2583169, ''],
    ['Sissi Li', 2608780, '1'],
    ['Zixuan Li', 2608786, ''],
    ['Tiger Liao', 2513892, ''],
    ['Francisco Lyu', 2549030, ''],
    ['Vidhant Mehta', 2547779, ''],
    ['Aadit Narayanan', 2611510, ''],
    ['Oscar Ni', 2608004, ''],
    ['Tashfia Noor', 2588861, ''],
    ['Rami Orgle', 2588978, ''],
    ['Katie Park', 2563640, ''],
    ['Yoonsuh Park', 2499926, ''],
    ['Krishang Shah', 2579276, ''],
    ['Sarah Shao', 2608499, ''],
    ['Mingke Tian', 2636361, ''],
    ['Chrissy Wang', 2601180, '1'],
    ['Selena Xie', 2608548, '1'],
    ['William Xu', 2538911, ''],
    ['Vera Zheng', 2610465, '']
], columns=['Student Name', 'Student ID', 'Group Number'])

# Display the table
df

       Student Name  Student ID Group Number
0     Toni Akinyelu     2550453
1       Nicole Chen     2608628
2        Peter Chen     2608344
3      Tiffany Chen     2593764
4        Tammy Dang     2546969
5           Gina Ge     2582381
6          Lucy Guo     2550000
7      Ari Gurovich     2586399
8         Justin He     2549590
9        Anny Huang     2550032
10        Max Jiang     2547409
11          Rola Ke     2609319            1
12          Bert Li     2549011
13      Sherelle Li     2583169
14         Sissi Li     2608780            1
15        Zixuan Li     2608786
16       Tiger Liao     2513892
17    Francisco Lyu     2549030
18    Vidhant Mehta     2547779
19  Aadit Narayanan     2611510
20         Oscar Ni     2608004
21     Tashfia Noor     2588861
22       Rami Orgle     2588978
23       Katie Park     2563640
24     Yoonsuh Park     2499926
25    Krishang Shah     2579276
26       Sarah Shao     2608499
27      Mingke Tian     2636361
28     Chrissy Wang     2601180            1
29       Selena Xie     2608548            1
30       William Xu     2538911
31       Vera Zheng     2610465